<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
Это Web Приложение которое является по сути своей библиотекой.
<br/>
Вы можете добавлять сюда сюда книги , они будут отображаться в таблице книг.
<br/>
<a href = "/bookTable"> Таблица книг </a>
<br/>
Так же к каждой книге можно добавить её экзмепляры, они будут отображаться в таблице экземпляров.
<br/>
Так же доступен поиск книг  по названию
<br/>
<a href = "/search"> Поиск по Названию </a>
<br/>
<br/>
<br/>
<a href = "/home"> Начальная страница </a>
</body>
</html>