<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
Введите Название Книги\Автора для поиска
<form th:action="@{/search}"
      method="GET">
    <input type="text" name="searchRes"/>
    <br/>
    <input type="submit" value="Search"/>
</form>

<br/>
Результаты поиска::
<br/>
<table border="1">
    <tr>
        <td>BOOK_FIELDS</td>
        <td>AUTHORS</td>
        <td>TITLE</td>
        <td>PAGES_NUMBER</td>
        <td>PUBLISHING_YEAR</td>
    </tr>
    <div th:each="num : ${booksSearch}">
        <tr>
            <td><a href="/book" th:href="@{/book/{id}(id = ${num.id})}"> Book </a></td>
            <td><input type=text th:value="${num.authors}"/></td>
            <td><input type=text th:value="${num.title}"/></td>
            <td><input type=number th:value="${num.pagesNumber}"/></td>
            <td><input type=number th:value="${num.publishingYear}"/></td>
        </tr>
    </div>
</table>
<br/>
<br/>
<br/>
<a href="/home"> Начальная страница </a>
</body>
</html>